
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1478575051331'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1478575051331#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1478575051331') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1478575051331') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1478575051331#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibiaoti-1:before { content: "\e624"; }

.icon-weibiaoti1-1:before { content: "\e625"; }

